@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors, Lists, Color
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment
        - Screenreader
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */

*, 
*::after, 
*:before {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 1rem 'Roboto Slab', serif;
    color: #00515D;
}


/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */

h1, 
h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

h1, 
h2,
h3 {
    color: #00B0A3;
}

h2 ,
p {
    margin: 0;
}

h1 {
    font-size: 3.8rem;
    line-height: 1.2em;
    margin: 4.5em 0 .25em;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5em;
    padding: 1em 0 .2em;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 .7em;
    text-align: left;
}

h4 {
    font-size: 1.2rem;
    margin: .3em 0 0;
}

p {
    font-size: 1rem;
    line-height: 1.9em;
}

i {
    font-size: 2rem;

}

@media screen and (min-width: 768px) {

    p,
    h4 {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 6.3rem;
        margin-top: 3em;
    }

    h2 {
        font-size: 3.5rem;
        line-height: 1.5em;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    p {
        line-height: 1.9em;
    }
    
    i {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {

    h1 {
        font-size: 7rem;
        line-height: 1em;
        margin: 1.4em 0 0;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.6rem;
        margin: 0;
    }

    p {
        font-size: 1.3rem;
        line-height: 1.8em;
    }
}

/* ----- ANCHOR ----- */

a {
    text-decoration: none;
    color: #00B0A3;
    padding: 4px 8px;
    font: 400 1.2rem 'Open Sans', sans-serif;
}

a:hover {
    background-color: #FFD8DB;
    color: #003833;
    border-radius: 16px;
}

@media screen and (min-width: 768px) {
    a {
        font-size: 1.5rem;
    }
    
}

@media screen and (min-width: 1024px) {
    a {
        font-size: 1.3rem;
    }
}

/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
    width: 95%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.img-responsive {
    max-width: 100%;
}

[class*='col-'] {
    padding: 10px 5px;
}

[class*='col-'] [class*='col-'] {
    margin-left: -5px;
    margin-right: -5px;
}

.col-sm-1 {
    width: calc(100% * 1 / 12);
}

.col-sm-2 {
    width: calc(100% * 2 / 12);
}

.col-sm-3 {
    width: calc(100% * 3 / 12);
}

.col-sm-4 {
    width: calc(100% * 4 / 12);
}

.col-sm-5 {
    width: calc(100% * 5 / 12);
}

.col-sm-6 {
    width: calc(100% * 6 / 12);
}

.col-sm-7 {
    width: calc(100% * 7 / 12);
}

.col-sm-8 {
    width: calc(100% * 8 / 12);
}

.col-sm-9 {
    width: calc(100% * 9 / 12);
}

.col-sm-10 {
    width: calc(100% * 10 / 12);
}

.col-sm-11 {
    width: calc(100% * 11 / 12);
}

.col-sm-12 {
    width: calc(100% * 12 / 12);
}


@media screen and (min-width: 768px) {

    .wrapper {
        width: 80%;
    }

    [class*='col-'] {
        padding: 10px;
    }

    [class*='col-'] [class*='col-'] {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col-md-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-md-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-md-3 {
        width: calc(100% * 3 / 12);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-md-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-md-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-md-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-md-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-md-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-md-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-md-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
    
}


@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
    }
    
    .col-lg-1 {
        width: calc(100% * 1 / 12);
    }
    
    .col-lg-2 {
        width: calc(100% * 2 / 12);
    }
    
    .col-lg-3 {
        width: calc(100% * 3 / 12);
    }

    .col-lg-4 {
        width: calc(100% * 4 / 12);
    }
    
    .col-lg-5 {
        width: calc(100% * 5 / 12);
    }
    
    .col-lg-6 {
        width: calc(100% * 6 / 12);
    }
    
    .col-lg-7 {
        width: calc(100% * 7 / 12);
    }
    
    .col-lg-8 {
        width: calc(100% * 8 / 12);
    }
    
    .col-lg-9 {
        width: calc(100% * 9 / 12);
    }
    
    .col-lg-10 {
        width: calc(100% * 10 / 12);
    }
    
    .col-lg-11 {
        width: calc(100% * 11 / 12);
    }
    
    .col-lg-12 {
        width: calc(100% * 12 / 12);
    }
}


/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */

header nav,
nav ul {
    padding: 0;
}

body > header,
#layout .col-lg-4,
#benefits,
#benefits h2,
#benefits h3,
.col-sm-2,
footer {
    text-align: center;
}

/* ----- HEADER ----- */

header img {
    width: 110px;
}

header > div:last-child .wrapper {
    background: url(../img/bg-header-balloons.jpg) left bottom no-repeat;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-backgroun-size: contain;
    -ms-background-size: contain;
    background-size: contain;
    padding: 1px 0;
}

header > div:last-child {
    background-color: #FFD8DB;
}

body > header {
    margin-top: 15px;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

nav ul {
    margin: 0;
}

nav li {
    margin-bottom: 10px;
} 

header > div:first-child {
    border-bottom: 10px solid #FFD8DB;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding-top: 1.875em;
}

body > header p {
    font-size: 1.3rem;
    margin-bottom: 3.5em;
}

@media screen and (min-width: 768px) {
    
    body > header p {
        font-size: 2rem;
        margin-bottom: 3em;
    }
}

@media screen and (min-width: 1024px) {

    header > div:last-child {
        text-align: center;
    }

    body > header {
        text-align: left;
    }

    header nav {
        text-align: right;
        margin-top: .95em;
    }

    header > div:last-child {
        margin-top: 113px;
    }
   
    header > div:last-child div {
        margin: 0 auto;
    }

    body > header p {
        font-size: 1.5rem;
        margin-top: .3em;
    }
    
    header img {
        width: 140px;
    }

    header > div:first-child {
        padding: 1.7em 0 0.4em;
    }
}


/* ----- SYSYTEMS ----- */

#systems {
    margin-top: 1em;
}

.col-sm-2 {
    padding-top: .5em;
}

#systems .col-center {
    margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
    #systems, 
    #systems h3 {
        text-align: center;
    }
    
    #systems .col-lg-4 {
        align-content: flex-start;
    }

    section .row {
        margin-top: 1em;
    }
    
}

/* ----- LAYOUT ----- */

#layout .col-lg-4 {
    background-color: #FFD8DB;
    padding: 3.75em 1.9em;
    margin: 10em 0 1em;
}

#layout .col-lg-4 h2 {
    font-size: 2.3rem;
    margin: 0 0 .3em;
}

#layout h3 {
    margin: 1.8em 0 .3em;
}


@media screen and (min-width: 768px) {
    #layout .col-lg-4 h2 {
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 1024px) {

    #layout {
        flex-direction: row-reverse;
    }

    #layout h3 {
        margin: 1em 0 .3em;
    }

    #layout .col-lg-4 h2 {
        font-size: 2.6rem;
    }
}

/* ----- TESTING ----- */

@media screen and (min-width: 1024px) {

    #testing .col-lg-5 {
        background: url(../img/balloon-rainbow.jpg) center no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-backgroun-size: cover;
        -ms-background-size: cover;
        background-size: cover;
    }

    #testing {
        padding-top: 5em;
    }

    #testing h2 {
        margin-top: 0;
        padding: 0;
    }
}


/* ----- BENEFITS ----- */

#benefits header {
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {

    #benefits .col-lg-6,
    #benefits h3 {
        text-align: left;
    }

    #benefits h3 {
        margin-bottom: 0;
    }

    #benefits .col-lg-2 {
        text-align: right;
    }

    #benefits .col-lg-6:first-child {
        padding-right: 25px;
    }
}


/* ----- FOOTER ----- */

footer {
    padding: 1.9em 0;
    border-top: 10px solid #FFD8DB;
    margin-top: 3em;
}

footer img {
    width: 115px;
    margin-top: 1.25em;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin-bottom: 1.6em;
}

footer p {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {

    footer .row {
        flex-direction: row-reverse;
        text-align: left;
    }

    footer img {
        margin-top: 0;
    }

    footer a {
        font-size: 1.3rem;
    }
}

/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */

.col-center {
    justify-content: center;
}

/* ----- SCREENREADER ----- */

.sr-only {
    position: absolute;
      position: absolute !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      margin: -1px !important;
      overflow: hidden !important;
      clip: rect(0,0,0,0) !important;
      white-space: nowrap !important;
      border: 0 !important;
}